.heading {
    font-weight: bold;
    font-size: 40px;
}

.fact {
    font-style: italic;
}

.info {
    font-style: italic;
}

.list {
    list-style: none;
    font-weight: bold;
}

.container {
    font-family: Helvetica, sans-serif;
    max-width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #dcdcdc;
    -webkit-box-shadow: 6px 6px 11px -4px rgba(196,196,196,1);
    -moz-box-shadow: 6px 6px 11px -4px rgba(196,196,196,1);
    box-shadow: 6px 6px 11px -4px rgba(196,196,196,1);
}

.body {
    display: flex;
    display: -webkit-flex;
}

.animal-image {
    width: 300px;
    height:250px;
    display: flex;
}

.animalbox {
    font-size: 18px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px #dcdcdc;
}